<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>radioNames</key>
	<array>
		<string>France Info</string>
		<string>France Inter</string>
		<string>France Musique</string>
		<string>France Culture</string>
		<string>France Vivace</string>
		<string>FIP</string>
		<string>Le Mouv&apos;</string>
	</array>
	<key>highRadioURLs</key>
	<array>
		<string>http://str2.creacast.com/france_info_64.m3u</string>
		<string>http://www.tv-radio.com/station/france_inter_mp3/france_inter_mp3-128k.m3u</string>
		<string>http://www.tv-radio.com/station/france_musique_mp3/france_musique_mp3-128k.m3u</string>
		<string>http://www.tv-radio.com/station/france_culture_mp3/france_culture_mp3-128k.m3u</string>
		<string>http://www.tv-radio.com/station/france_vivace_mp3/france_vivace_mp3-128k.m3u</string>
		<string>http://www.tv-radio.com/station/fip_mp3/fip_mp3-128k.m3u</string>
		<string>http://www.tv-radio.com/station/le_mouv_mp3/le_mouv_mp3-128k.m3u</string>
	</array>
	<key>lowRadioURLs</key>
	<array>
		<string>http://str2.creacast.com/france_info_64.m3u</string>
		<string>http://www.tv-radio.com/station/france_inter_mp3/france_inter_mp3-32k.m3u</string>
		<string>http://www.tv-radio.com/station/france_musique_mp3/france_musique_mp3-32k.m3u</string>
		<string>http://www.tv-radio.com/station/france_culture_mp3/france_culture_mp3-32k.m3u</string>
		<string>http://www.tv-radio.com/station/france_vivace_mp3/france_vivace_mp3-32k.m3u</string>
		<string>http://www.tv-radio.com/station/fip_mp3/fip_mp3-32k.m3u</string>
		<string>http://www.tv-radio.com/station/le_mouv_mp3/le_mouv_mp3-32k.m3u</string>
	</array>
</dict>
</plist>
