<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>radioNames</key>
	<array>
		<string>rfi Monde</string>
		<string>rfi Afrique</string>
		<string>rfi Musique</string>
		<string>rfi Multi1</string>
		<string>rfi Multi2</string>
	</array>
	<key>radioURLs</key>
	<array>
		<string>http://www.tv-radio.com/station/rfimonde-mp3/rfimonde-mp3-64k.pls</string>
		<string>http://www.tv-radio.com/station/rfiafrique-mp3/rfiafrique-mp3-64k.pls</string>
		<string>http://www.tv-radio.com/station/rfimusiquemonde-mp3/rfimusiquemonde-mp3-64k.pls</string>
		<string>http://91.121.62.121:8110/listen.pls</string>
		<string>http://91.121.62.121:8130/listen.pls</string>
	</array>
</dict>
</plist>
